:root {
   --color-brand: #2196F3;
   --color-black: #000;
   --color-white: #FFF;
   --color-white-secondary: rgba(255, 255, 255, 0.6);
   --text-color-primary: #212121;
   --text-color-secondary: #757575;
   --bgc-primary: #2F303A;
   --bgc-secondary: #F5F4FA;
   --bgc-inverted: #188CE8;
}

body {
   color: var(--text-color-primary);
   background-color: var(--color-white);
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   line-height: 1.14;
}